@font-face {
    font-family: poppins;
    src: url(poppins/Poppins-Regular.ttf);
}

body {
    margin: 0 auto;
    font-family: poppins;
    overflow-x: hidden;

}

.top-bar {
    border: 1px solid green;
    background-color: green;
    text-align: center;
    font-size: 18px;
    color: white;
}

.first-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pics/backgrounf.webp");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 1050px;
    color: white;
    text-align: center;
}

#title {
    margin-top: 0%;
    display: flex;
    font-size: 25px;
}

#motto {
    font-size: 100px;
}

.text-overlay {
    margin-top: 8%;
    padding-bottom: 8%;

    p {
        font-size: 25px;
        margin-top: 2%;
    }
}

#contact {
    background-color: gray;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    font-family: poppins;
    height: 80px;
    color: white;
    width: 400px;
    gap: 15%;
    margin-top: 3%;
}

.catagories {
    display: flex;
    gap: 5%;
    justify-content: center;
    font-size:30px;
    padding-top: 3%;
    font-size: 30px;

    a {
        text-decoration: none;
        color: white;
        font-size:20px;
    }

}

#phone {
    color: white;
    font-size: 30px;
    margin-left: 10%;
}

.border {
    margin-top: 4%;
    margin-bottom: 4%;
    border-top: 2px solid rgb(6, 34, 4);
    border-bottom: 2px solid rgb(1, 20, 3);
    font-size: 20px;
    text-align: center;
}

.artistry {
    display: flex;
    gap: 2%;
    line-height: 1.6;
    justify-content: center;
    margin-bottom: 3%;
}

#bed img {
    height: 600px;
    width: 90%;
    border-radius: 5%;
    margin-left: 3%;
    box-shadow: 0px 10px 18px -5px rgb(55, 53, 53);

}

.timeless-text {
    font-size: 22px;
}

#green-text {
    color: green;
}

.buttons {
    display: flex;
    gap: 8%;
    margin-top: 8%;

    i{
        transform: rotate(-45deg);
    }
}

#know-more {
    height: 80px;
    width: 35%;
    border-radius: 50px;
    font-size: 25px;
    background-color: green;
    color: white;
    border: 1px solid green;

}

#contact-us {
    height: 80px;
    width: 35%;
    border-radius: 50px;
    font-size: 25px;
    border: black 1px solid;
}

.icons {
    display: flex;
    gap: 4%;
    padding: 3% 0% 3% 10%;
    margin-bottom: 9%;
    border: 1px solid #e1f5e4;
    background-color: #D9D9D9;
}

#icon img {
    height: 100px;
    width: 100px;
}

#text {
    font-size: 15px;
}

#excellence {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.techniques {
    font-size: 18px;
    margin-bottom: 7%;
    margin: 4%;
    line-height: 1.3;
}

#description {
    margin-bottom: 6%;
    text-align: center;
    line-height: 2;
    font-size: 20px;
}

.header-next {
    display: flex;
    top: -100%;
    left: 50%;
}

#next-icon {

    margin-left: 50%;
    background-color: #D9D9D9;
    margin: 4%;
    font-size: 50px;
    height: 50px;
    border-radius: 80%;
    padding: 2%;
}

.techniques img {
    height: 600px;
    width: 500px;
    border-radius: 5%;
}

.fabrics-list {
    display: flex;
    gap: 4%;
}

.fabrics {
    display: inline;
    margin-top: -5%;
}

.client {
    text-align: center;
    margin: 10%;
    font-size: 23px;
    line-height: 1.7;
}

.users {
    display: flex;
    margin: 5%;
    align-items: center;
    gap: 15%;
}

#clients {
    display: flex;
    justify-content: space-between;
    margin-left: 4%;
    background-color: whitesmoke;
    box-shadow: 0px 10px 18px -5px rgb(55, 53, 53);
    padding: 1%;

    img {
        height: 120px;
        width: 100%;
        
        margin-right: 8%;
        align-items: center;

    }
}

.quality {
    display: flex;
    width: 95%;
    
}

.quality img {
    height: 550px;
    width: 750px;
    border-radius: 5%;
    margin-top: 5%;
}

#right-section-text {
    justify-content: center;
    font-size: 20px;
    margin-left: 5%;
    line-height: 1.8;
    width: 100%;
    margin-top: 2%;

    h1 {
        margin-bottom: 5%;
    }

    .stars {
        display: flex;
        margin-bottom: 5%;
        font-size: 35px;
        color: green;
        gap: 2%;
    }

}

.brands {
    display: flex;
    margin: 7%;
    gap: 5%;
    justify-content: center;
}

.brands img {
    display: flex;
    height: 100px;
    width: 160px;


}

#third-brand {
    height: 100px;
    width: 300px;
}

.showcase {
    text-align: center;
    font-size: 25px;
    margin: 6%;
    margin-top: 15%;
}

.showcase-text {
    margin-bottom: 4%;
}

#thrift {
    display: flex;
    gap: 3%;
    margin-right: 5%;
}

#thrift img {
    border-radius: 5%;
    margin-bottom: 1.5%;
    height: 600px;
    /* width:80%; */
}

.map img {
    width: 85%;
    margin-top: 4%;

}

#girl {
    height: 856px;
    width: 100%;
}

#blue-bed {
    height: 650px;
    width: 550px;
}

#scarf-woman {
    border-radius: 5%;
    width: 102%;
}

.map {
    font-size: 25px;
    text-align: center;
}

.map-img img {
    height: 700px;
    width: 1200px;
    position: absolute;
}

.box {
    position: relative;

}

.phone-num {
    display: flex;
    gap: 10px;
}

.phone-num i {
    display: flex;
}

.map-pic {
    padding: 5%;
    position: absolute;
    background-color: white;
    box-shadow: 0px 10px 18px -5px rgb(55, 53, 53);
    border-radius: 50px;
    font-size: 15px;
    margin-top: -40%;
    margin-left: 10%;
    align-items: center;

    .map h3 {
        font-size: 20px;
    }
}

#rounded-icon {
    background-color: black;
    border-radius: 180px;
    height: 40px;
    width: 50px;
    color: white;
    font-size: 30px;
    padding: 3%;
    margin-top: 5%;
}

.footer {
    display: flex;
    gap: 5%;
    font-size: 17px;
    color: white;
    border-color: 1px solid;
    background-color: rgba(33, 48, 54, 255);
    padding: 5%;
}

#logo img {
    height: 300px;
    width: 320px;
    border-radius: 5%;
}

#copyright {
    background-color: rgba(33, 48, 54, 255);
    border-top: white 1px solid;
    padding: 2%;
    color: white;
    text-align: center;
    font-size: 13px;
}

.elements {
    display: inline;
    line-height: 1.2;
    font-size: 13px;
}

.footer-icons {
    margin-top: 15%;
    display: flex;
    gap: 20%;
}

.contact-icons {
    display: flex;
    gap: 4%;
}

.right-section {
    display: flex;
    gap: 4%;
}

#call {
    font-size: 20px;
}

#list {
    margin-bottom: 2%;
}


@media only screen and (max-width: 430px){
  body{
    width:80%;
  }
  .top-bar{
    font-size: 10px;
  }
  .first-page{
    width:100%;
    height: 320px;
  }
  #title{
    font-size: 10px;
    text-align: center;
  }
  .catagories{
    flex-direction: row;
    a{
        
        font-size: 8px;
  }
  #phone{
    font-size: 15px;
    margin-left: 2%;
  }
  
}
#motto{
    font-size: 18px;
  }
  .text-overlay{
    p{
        font-size: 7px;
    }
  }
  #contact{
    height:17px;
    width:100px;
    font-size: 7px;
  }
  .border{
    font-size: 6px;
}

#bed img{
    height:200px;
    width:100%;
}

.timeless-text{
    font-size: 6px;
    line-height: 1.1;
    width: 100%;
    gap:2%;
}

#know-more{
height:40px;
width:50%;
font-size: 10px;
}

#contact-us{
    height:40px;
    width:50%;
    font-size: 10px;
    }

#icon img{
    height: 30px;
    width: 30px;
}
.icons{
    padding: 1%;
    gap:1%
}
#text{
    font-size: 5px;
}

#description{
    font-size: 8px;
    width: 100%;
}
.techniques img{
    height:100px;
    width:100px;
}

.header-next{
    font-size: 5px;

}
#next-icon{
font-size: 15px;
height: 15px;
width: 15px;
padding: 3%;
}


.fabrics p{
    font-size: 8px;
}

.client{
    font-size: 9px;
}
#clients{
   padding: 1%;
   width: 100%;
    img{
        height: 30px;
        width: 30px;
        margin: 3% 4%;
    }
}
.quality{
    width: 100%;
    gap:3%;
}
.quality img{
height: 150px;
width:200px
}
#right-section-text{
    font-size: 6px;
    margin-left: -7%;
    width: 100%;
    line-height: 1.2;

    .stars{
        font-size: 10px;
    }
}
.brands {
    gap:6%;
}
.brands img{
height:30px;
width:30px;
}
#third-brand{
    height:30px;
    width:80px;
}
.showcase{
    font-size: 10px;
}
#thrift img{
    height:100px;
}
.map{
    h1{
font-size: 10px;
    }
    p{
        font-size: 10px;
    }
    .box{
        height: 10px;
    }
    .map-pic{
        /* margin-top: 10%; */
        padding: 1%;
      
        .map h3{
            font-size: 10px;
        }
    }
}
#phone-num{
    height:100px;
    width: 50px;
    font-size: 10px;
}

#rounded-icon{
    height:20px;
    width:20px;
    font-size: 15px;

}
#contact-ways{
    font-size: 10px;
}
}

